.navbar-brand {
  margin-left: 0;
  font-family: "Pacifico", cursive;
  align-content: center;
}

.content {
  padding: 20px;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img:hover {
  transform: translateY(2px);
  box-shadow: 2px 2px 20px 2px rgb(34, 32, 31);
}

.card {
  padding: 10px;

  background-color: rgb(108, 190, 170);
}

.card-title {
  font-family: "Rubik Beastly", cursive;
  font-size: 25px;
  letter-spacing: 2px;
}

.lead {
  font-family: monospace;
  text-shadow: 2px 0px 8px rgb(235, 38, 38);
  margin-left: 50px;
}

.card-text > .h5 {
  font-family: "Pacifico", cursive;
  font-style: oblique;
  font-weight: bolder;
}

.pfont {
  font-family: cursive;
  font-style: initial;
}

.card-text {
  margin-top: 40px;
}

.btn {
  width: 20%;
  margin-left: 10px;
}

.btn1 {
  margin-left: 30%;
}

hr {
  height: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: rgb(0, 0, 0);
}

.movie_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  padding: 0px 50px;
  background-color: rgb(250, 244, 247);
}
.movie_form input {
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgba(54, 53, 53, 0.897);
  font-size: 18px;
  color: #0a7cfd;
}
.movie_form input::placeholder {
  color: rgb(17, 15, 17);
}
.movie_form button {
  background-color: #1c63b3;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}
.movie_form button:hover {
  background-color: #4f5255;
}

.lead1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 0px 8px rgb(247, 242, 245);
  margin-left: 50px;
  letter-spacing: 2px;
  font-size: 25px;
  background-color: rgb(249, 253, 9);
}

.body {
  background-color: black;
}
